<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, msg| %>
  <p class="flash-<%= key %>"><%= msg %></p>
<% end %>

<%= yield %>

<br>
<br>
<footer>
  <small>Copyright...</small>
</footer>

</body>
</html>
